extends ../base.pug

block content
    form(action=`/eaters/${taco.eater}/tacos/${taco.id}?_method=PATCH`, method="POST")
        label(for="name") Name:
        input(type="text", name="taco[name]", value=taco.name, id="name")
        label(for="numToppings") Number of Toppings:
        input(type="text", name="taco[numToppings]", value=taco.numToppings, id="numToppings")
        input(type="submit", value="Edit a taco!")
    
    form(action=`/eaters/${taco.eater}/tacos/${taco.id}?_method=DELETE`, method="POST")
        input(type="submit", value="X")