extends ../base.pug

block content
  h1 See all the tacos for #{eater.name}
  each taco in eater.tacos
    p #{taco.name} / #{taco.numToppings}
    a(href=`/eaters/${eater.id}/tacos/${taco.id}`) Show 
    a(href=`/eaters/${eater.id}/tacos/${taco.id}/edit`) Edit